<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  Your posting <%= @posting_title %> as been approved.
</p>
<p>Thanks and have a great day!</p>
</body>
</html>