<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Bienvenue sur Afrikelist</h1>
<p> Merci de cliquer sur le lien suivant pour vérifier votre adresse e-mail et bienvenue sur Afrikelist</p>
<p>Merci de Votre inscription et bonne journee.
</p>
<h1>Welcome to Afrikelist</h1>
<p>
  Please click on the following link to verify your email address and welcome to Afrikelist
  http://www.afrikelist.com/post/login/validate/<%=@user%>/<%=@validationcode%>
</p>
<p>Thanks for joining and have a great day!</p>

</body>
</html>