<div class="container" style="margin-top: 50px;">
  <% if @posting.errors.any? %>
      <% @posting.errors.full_messages.each do | message| %>
          <%= message   %> <br/>
      <% end %>
  <% end %>
<%#this can be used for both createBody and editBody... url for the next should be different based on the parent %>

  <% @url = posting_update_body_url %>
  <div class="col-sm-12 ">
    <%= render 'partials/posting' %>
    </div>
    <div class="col-sm-12">
      <%= button_to t(:back), postings_path, method: 'get', class: 'btn' %>
    </div>
  </div>
</div>