<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Orange Money Transfer</title>
  <link rel="stylesheet" type="text/css" href="http://global.design-editor.com/v8/base.css"/>
  <%= stylesheet_link_tag 'IP_Master_PT_RTL.master.css' %>
  <%= stylesheet_link_tag 'orange.css' %>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:400,700&subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic"/>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open Sans:300,300italic,400,italic,600,600italic,700,700italic,800,800italic&subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic"/>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Michroma:400&subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic"/>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Quicksand:300,400,700&subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic"/>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Cabin:400,italic,500,500italic,600,600italic,700,700italic&subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic"/>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Graduate:400&subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic"/>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Fresca:400&subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic"/>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Macondo Swash Caps:400&subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic"/>
  <!--%= javascript_include_tag 'jquery-2.1.4.min.js' %-->

  <link rel="stylesheet" type="text/css" href="http://global.design-editor.com/v8/main.css"/>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/alefhebrew.css"/>
  <!--script src="http://global.design-editor.com/v8/skrollr.js" type='text/javascript'></script-->
  <script src="http://global.design-editor.com/v8/script.js" type='text/javascript'></script>




</head>
<body>

<div id='skrollr-body'>
  <input type="hidden" class="bp_data" data-bp="pc" data-value="960" /><div id='generalSitebackgroundDiv' class='generalSitebackgroundDiv'></div><div id='innerMainPanel0' class='innerMainPanel0'></div>	<div id='mainMainPanel0' class='dataTypeMainPanel mainMainPanel0' data-type='MainPanel'>

  <div id='mainShape24__Shape24_Shape66584'   data-id='mainShape24' class='dataTypeShape  mainShape24    mainShape' data-type='Shape' ></div>

  <header><div id='mainMainRow1' class='dataTypeMainRow mainMainRow1 ' data-type='MainRow'>
    <div id='mainMainContent2' class='dataTypeMainContent mainMainContent2' data-type='MainContent'></div>
  </div></header>
  <main><div id='mainMainRow3' class='dataTypeMainRow mainMainRow3 ' data-type='MainRow'>
    <div id='mainMainContent4' class='dataTypeMainContent mainMainContent4 ContentHeight' data-type='MainContent'>		<div id='innerImage7__Image7' data-id='innerImage7' data-type='Image' class='dataTypeImage  innerImage7   '><img width="961" height="840"   style="position:absolute;width:961;height:840;left:0px;top:0px" alt="" title="" src="http://images8.design-editor.com/92/9250807/3958%2f281E5B34-20FC-8F3D-B24B-6BDCBBB9FFA2.png"    ></div>
      <div id='innerImage8__Image8' data-id='innerImage8' data-type='Image' class='dataTypeImage  innerImage8   '><img width="962" height="948"   style="position:absolute;width:962;height:948;left:0px;top:0px" alt="" title="" src="http://images8.design-editor.com/92/9250807/3958%2f6DEE7FDE-D9C2-2099-E186-2F3441B3CF7C.png"    ></div>

      <div     id='mainText25__Text25_Text120235813' data-id='mainText25' style='' data-type="text" class='dataTypeText  inner_text mainText25   text_editor_resets' ><div  class='mainText25_ContentDiv'><h1 class="Page-Title ospfxw5cade9f82941e5e3a4e3592d5b173806ossfx">AfrikeList &nbsp;:</h1></div><div class='text_caption_background' style='background-color:transparent;opacity:1;position:absolute;left:0;bottom:0;top:0;right:0;z-index:-1;'></div></div>
    </div>
  </div></main>
  <footer><div id='mainMainRow5' class='dataTypeMainRow mainMainRow5 ' data-type='MainRow'>
    <div id='mainMainContent6' class='dataTypeMainContent mainMainContent6' data-type='MainContent'></div>
  </div></footer>
</div>

</div>


</body>
</html>
