<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Orange Money Transfer</title>
  <link rel="stylesheet" type="text/css" href="http://global.design-editor.com/v8/base.css"/>
  <%= stylesheet_link_tag 'orange.css' %>
<html>
<body>
<div class="orange-container">
  <header>
    <h1>AfrikeList :</h1>
    <h3>Orange Facture</h3>

  </header>

  <div class="container">
    <form>
      <div>
       <h2> Sender</h2>           
          <input type="text" placeholder=" Full Name">          
          <input type="text" placeholder=" Address">       
          <input type="text"  placeholder="Phone Number">          
          <input type="text" placeholder="Expiration Date">
       </div>

       <div>
        <h2>Company</h2>          
          <input type="text" placeholder="Full Name">
          <input type="text" placeholder="Account number">
       </div>

       <div>
        <h2 class="money-input">Money</h2>
          <input class="money-input-one" type="text" placeholder="Amount in CFA">
          <input class="money-input-two" type="text" placeholder="Amount in US">
       </div>

        <div>
          <input type="submit" value="Submit">
        </div>
      
    </form>
  </div>
</div>

    

</body>
</html>

