<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Refund Policy</title>
  <link rel="stylesheet" type="text/css" href="http://global.design-editor.com/v8/base.css"/>
  <%= stylesheet_link_tag 'IP_Master_PT_RTL.master.css' %>
  <%= stylesheet_link_tag 'privacy.css' %>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:400,700&subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic"/>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open Sans:300,300italic,400,italic,600,600italic,700,700italic,800,800italic&subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic"/>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Michroma:400&subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic"/>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Quicksand:300,400,700&subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic"/>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Cabin:400,italic,500,500italic,600,600italic,700,700italic&subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic"/>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Graduate:400&subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic"/>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Fresca:400&subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic"/>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Macondo Swash Caps:400&subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic"/>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>

  <link rel="stylesheet" type="text/css" href="http://global.design-editor.com/v8/main.css"/>


</head>
<body>

<div id='skrollr-body'>
  <input type="hidden" class="bp_data" data-bp="pc" data-value="960"/>
  <div id='generalSitebackgroundDiv' class='generalSitebackgroundDiv'></div>
  <div id='innerMainPanel0' class='innerMainPanel0'></div>
  <div id='mainMainPanel0' class='dataTypeMainPanel mainMainPanel0' data-type='MainPanel'>

    <div id='mainShape24__Shape24_Shape66584' data-id='mainShape24' class='dataTypeShape  mainShape24    mainShape' data-type='Shape'></div>

    <header>
      <div id='mainMainRow1' class='dataTypeMainRow mainMainRow1 ' data-type='MainRow'>
        <div id='mainMainContent2' class='dataTypeMainContent mainMainContent2' data-type='MainContent'></div>
      </div>
    </header>
    <main>
      <div id='mainMainRow3' class='dataTypeMainRow mainMainRow3 ' data-type='MainRow'>
        <div id='mainMainContent4' class='dataTypeMainContent mainMainContent4' data-type='MainContent' style="min-height: 800px;">
          <div id='innerText7__Text7' data-id='innerText7' style='' data-type="text" class='dataTypeText  inner_text innerText7   text_editor_resets'>
            <div class='innerText7_ContentDiv'>
              <p class="Normal ospfxwc5ae1a02ec073f6013612e545171bd51ossfx">Refund Policy</p></div>
            <div class='text_caption_background' style='background-color:transparent;opacity:1;position:absolute;left:0;bottom:0;top:0;right:0;z-index:-1;'></div>
          </div>
          <div id='innerText8__Text8' data-id='innerText8' style='' data-type="text" class='dataTypeText refundText inner_text innerText8   text_editor_resets'>
            <div class='innerText8_ContentDiv dataTypeText'>
              <h2 class="refundText"><b>Refund/Return Policy regarding your online postings:</b></h2>

              <p class="Normal refundText">Due to the nature of our services, no returns and or refunds will be granted. Nonetheless, if you are

              experiencing any technical difficulties with your purchases, please go to the contact us page to notify us;

              we will promptly rectify whatever technical issues you are facing.</p>

              <h2><b>Refund/ Return Policy regarding products and services purchased from postings:</b></h2>

              <p class="Normal refundText">All sales between parties are as-is and are final, unless a written guarantee is given. While we strive to

              facilitate the transactions between “sellers” and “buyers” to the best of our ability, Afrikelist

              Corporation cannot be held responsible for any inaccuracies pertaining to the quality, reliability and

              quantity of products and services posted on the site. Afrikelist does not conduct any due diligence

              regarding the validity of each and every posting.</p>

              <h2><b>How to avoid Scams when buying or selling from a posting:</b></h2>

              <p class="Normal refundText">You should exercise caution and common sense at all times, when dealing with individuals who are

              selling or buying some items online. Here are some tips to follow:</p>
              <ul>
                <li class="Normal">Do not extend payment to anyone before you meet them and verify the authenticity of the

              online posting</li>

              <li class="Normal">Accept personal checks and promises to pay in increments at your own risk</li>

              <li class="Normal">Transactions should only be between the parties selling and buying items. Do not deal with any

              third parties. ie. Someone claiming to sell a laptop on behalf of the owner.</li>

              <li class="Normal">When deciding to meet to present and/or review items, do so in a public area and with

              witnesses if possible</li>

              <li class="Normal">The most important tip is to TRUST YOUR INSTINCTS.</li>
                </ul>
              <p class="Normal refundText">If you are defrauded by someone you met in person, contact your local law enforcement agencies as

              soon as possible.</p>

              <p class="Normal refundText">If you suspect that an Afrikelist posting may be a scam, please contact us immediately.</p>

              <p class="Normal ospfxw779647713974e44d0880a82f608898b5ossfx">&nbsp;</p></div>
          </div>

          <div id='mainText25__Text25_Text120235813' data-id='mainText25' style='' data-type="text" class='dataTypeText  inner_text mainText25   text_editor_resets'>
            <div class='mainText25_ContentDiv'>
              <h1 class="Page-Title ospfxw5cade9f82941e5e3a4e3592d5b173806ossfx">AfrikeList &nbsp;:</h1></div>
           </div>
        </div>
      </div>
    </main>
    <footer>
      <div id='mainMainRow5' class='dataTypeMainRow mainMainRow5 ' data-type='MainRow'>
        <div id='mainMainContent6' class='dataTypeMainContent mainMainContent6' data-type='MainContent'></div>
      </div>
    </footer>
  </div>

</div>


</body>
</html>
