<div class="col-sm-12 col-sm-offset-3">
<h1>Welcome to Arikelist</h1>
<p>An email validating has been sent to you.  Please check your spam folder,</p>
Go to the <%= link_to "Login Page", new_login_path %></br>
<a href="/">Return to the Main Page</a>
  </div>